<template>
  <div class="home">
    <h1>Confirmed Cases: Novel Coronavirus <span>COVID-19</span></h1>
    <p><span>Data Source: </span> <a target="blank" href="https://github.com/pomber/covid19">pomber/covid19</a></p>
    <div class="content">
      <CountriesComponent/>
    </div>
  </div>
</template>

<script>
  import CountriesComponent from '@/components/countries.component.vue';

  export default {
    name: 'Home',
    components: {
      CountriesComponent
    }
  }
</script>

<style lang="scss">
  $font-color: white;
  
  h1{ color: $font-color; font-weight: bold; margin: 0}
  h2{ color: $font-color; font-weight: bold; margin: 0; }
  p { font-weight: bold; margin: 0; color: $font-color; }
  span { opacity: 0.5; }
  a { color: $font-color; }
  .content { margin-top: 30px; }
</style>
