<template>
  <div class="countries" >
    <div v-if="uiData.length">
      <div v-for="country in uiData" :key="country.name">
      <DataBar :barData="country" :max="maxConfirmed"/>
      </div>
    </div>
   <div v-if="!uiData.length" class="countries__loading">Loading ....</div>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import store from '@/store/index';
  import { mapGetters } from "vuex";
  import DataBar from './ui/databar.ui.component.vue'
  import { setConfirmedTotals,  getHighestConfirmed } from '../services/data.factory';
  import UIData from '../types/uidata.type';

  @Component({
    components: { DataBar },
    computed: {
      ...mapGetters(['data'])
    }
  })
  export default class CountriesComponent extends Vue {
    store = store;
    uiData: UIData[] = [];
    maxConfirmed = 0;

    async mounted() {
      await this.store.dispatch('fetchData');
      this.uiData = setConfirmedTotals(this.store.state.data);
      this.maxConfirmed = getHighestConfirmed(this.uiData);
    }
  }
</script>

<style scoped lang="scss">
  .countries { 
    text-align: left; 
    background-color: #2A394F; 
  }
  .countries__loading { 
    color: white; 
  }
</style>
