<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
  body { 
    padding: 30px; 
    margin: 0; 
    background-color: #2A394F;
    height: 100%;
    -webkit-box-shadow: inset 20px 20px 20px rgba(43, 57, 78, 1);
    box-shadow: inset 20px 20px 20px rgba(43, 57, 78, 1);
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding:0;
  }
</style>
