<template>
    <div class="data-bar__container">
        <div class="data-bar__name">
            <span class="data-bar__name__value">{{ barData.name }}</span> 
            <span class="data-bar__count">{{ barData.confirmed }}</span>
        </div>
        <div class="data-bar__runner">
            <div class="data-bar__bar" :style="style">  </div>
        </div>
    </div>
</template>

<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import Colours from '../../types/colors.type';
import UIData from '../../types/uidata.type';

@Component
export default class DataBar extends Vue {
    @Prop() private barData!: UIData;
    @Prop() private max!: number;

    style = {};
    width = 0;
    widthFlex = 1.2; // allow a little visual extra for bars with very low width
    colour = 'white';
    colours: Colours[] = [
        { threshold: 5, colour: '#41436A' },
        { threshold: 10, colour: '#984063' },
        { threshold: 20, colour: '#F64668' },
        { threshold: 60, colour: '#FE9677' }
    ];
    
    setColour(): void {
        this.colour = this.colours[0].colour;
        this.colours.forEach( (colourInstance) => {
            if ( this.width >= colourInstance.threshold ) {
                this.colour = colourInstance.colour;
            }
        });
    }

    isMax(): boolean {
        return  this.barData.confirmed === this.max;
    }

    setWidth(): void  {
        if ( !this.isMax() ) {
            this.width = ( ( this.barData.confirmed / this.max ) * 100 ) * this.widthFlex;
        } else {
            this.width = 100; 
        }
    }

    setStyle(): void {
        this.style = {
            'background-color': this.colour,
            'width': this.width + '%'
        };
    }

    mounted(): void  {
        this.setWidth();
        this.setColour();
        this.setStyle();
    }
}

</script>

<style scoped lang="scss">
    .data-bar__container {
        margin: 3px; 
        display: flex;
    }
    .data-bar__name { 
        color: white; 
        font-weight: bold; 
        width: 220px;
        text-align: right;
        padding-right: 10px;
    }
    .data-bar__count {
        display: inline-block;
        padding-left: 10px;
        opacity: 0.5;
        font-size: 14px;
        line-height: 20px;;
    }
    .data-bar__runner {
        flex: 1;
    }
    .data-bar__bar { 
        box-sizing: border-box;
        background-color: #efefef; 
        text-align: left; 
        margin: 5px;
        white-space: nowrap;
        line-height: 0;
        height: 13px;
        border-radius: 3px;;
    }
</style>
